<div class="blurb">
    <div><h3>About the author</h3>
        <p>I'm Cole Graber-Mitchell, a civic-minded researcher and activist. I currently live in London, where I'm studying for a master's in Law at SOAS, University of London.</p>
    <ul>
        <li><a href="/about/">Read more about me</a></li>
        <li><a href="/contact/">Write to me</a></li>
        <li><a href="/writing/">Read my writing</a></li>
    </ul></div>
    {% image src="src/assets/images/headshot5.jpg", alt="A portrait of Cole wearing a heavy wool coat in front of a snowy building", widths=[200, 400,600, 800], sizes="20vw", title="I'm in Poland!" %}
</div>