<footer>
  <div class="container">
    <!-- TODO: add last modified date -->
  <div class="smallprint">
    <p>© 2017–2024 Cole Graber-Mitchell. My writing may be republished according to the <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.en">Creative Commons license CC BY-NC-ND 4.0</a> and this website's source code is available under the MIT License. Both grants are subject to the following requirement: no content on this site may be used to train AI of any sort, such as LLMs.</p>
    <p>I made no content on this site with AI.</p>
    <p><a href="/about/">Read more about me</a> or <a href="/colophon/">this site's colophon</a>.</p>
  </div>
  </div>
</footer>
