{% extends "layouts/base.njk" %}

{% block main %}

{% include "../components/breadcrumbs.njk" %}

<article class="writing" id="top">
    <div class="article-head">
        <h1>{{ title }}</h1>
        <div class="article-metadata">
            {%- from "../components/utils.njk" import metadata -%}
            {{ metadata({ date: page.date, lastmod: page.data.lastmod }) }}
        </div>
    </div>

    <!--
    <div>
    <details class="article-toc">
        <summary>Table of Contents</summary>
        
    </details>
    </div>
-->

    <div class="article-body">
        {{ content | safe }}
    </div>

</article>

{% include "../components/blurb.njk" %}

<a href="{{ permalink }}/#top" class="to-top">Back to top</a>

{% endblock %}