<!DOCTYPE html>
<html lang="en">
    {% include "components/head.njk" %}
    <body>
        <div class="container">
            <main>
            {% include "../components/header.njk" %}
            
            {% block main  %}
            
            {% endblock %}
            </main>
        </div>
        {% include "../components/footer.njk" %}
    </body>
</html>
