/***************************************
Reset
***************************************/

* {
  margin: 0;
  padding: 0
}

*,
*::before,
*::after {
  box-sizing: border-box
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-optical-sizing: auto;
}

ul[class],
ol[class] {
  list-style: none
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto
}

img,
iframe,
video {
  display: block;
  margin: 0;
  max-width: 100%;
  width: auto;
  object-fit: contain;
}

/***************************************
Accessibility 
***************************************/

@media(prefers-reduced-motion: reduce) {
  * {
    animation-duration: .01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: .01ms !important;
    scroll-behavior: auto !important
  }
}

/* TODO: style image alt text when image not loaded */

/***************************************
Fonts
***************************************/

* {
  font-synthesis: none;
}

@font-face {
  font-family: 'Literata';
  font-style: normal;
  src: url(/fonts/LiterataTT_var.ttf) format('truetype');
}

@font-face {
  font-family: 'Literata';
  font-style: italic;
  src: url(/fonts/LiterataTT_var-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  src: url(/fonts/PublicSans.ttf) format('truetype');
}

@font-face {
  font-family: 'Public Sans';
  font-style: italic;
  src: url(/fonts/PublicSans-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'Playfair';
  font-style: normal;
  src: url(/fonts/PlayfairRomanVF.woff2) format('woff2');
}

@font-face {
  font-family: 'Playfair';
  font-style: italic;
  src: url(/fonts/PlayfairItalicVF.woff2) format('woff2');
}

/***************************************
Root psuedo-selector for custom properties 
***************************************/

:root {
  /* Color palette */
  --dark-color: hsl(44, 12%, 5%);
  --light-color: hsl(44, 12%, 98%);
  --dark-grey-color: hsl(44, 5%, 25%);
  --light-grey-color: hsl(44, 5%, 92%);

  --red-color: hsl(359, 40%, 50%);
  --blue-color: hsl(217, 60%, 85%);
  --yellow-color: hsl(44, 88%, 66%);
  --green-color: hsl(103, 31%, 67%);

  /* Style colors */
  --bg-color: var(--light-color);
  --text-color: var(--dark-color);
  --primary-color: var(--red-color);
  --secondary-color: var(--blue-color);
  --tertiary-color: var(--green-color);
  --quaternary-color: var(--yellow-color);

  /* Fonts */
  --font-primary: "Literata", Palatino, serif;
  --font-secondary: "Public Sans", sans-serif;

  /* Utopia font sizes */
  /* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1240,20,1.333,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --step--2: clamp(0.6944rem, 0.6913rem + 0.0157vi, 0.7035rem);
  --step--1: clamp(0.8333rem, 0.797rem + 0.1816vi, 0.9377rem);
  --step-0: clamp(1rem, 0.913rem + 0.4348vi, 1.25rem);
  --step-1: clamp(1.2rem, 1.0378rem + 0.8109vi, 1.6663rem);
  --step-2: clamp(1.44rem, 1.1683rem + 1.3585vi, 2.2211rem);
  --step-3: clamp(1.728rem, 1.2992rem + 2.1439vi, 2.9607rem);
  --step-4: clamp(2.0736rem, 1.4221rem + 3.2575vi, 3.9467rem);
  --step-5: clamp(2.4883rem, 1.5239rem + 4.8219vi, 5.2609rem);
  --step-6: clamp(2.986rem, 1.5854rem + 7.0031vi, 7.0128rem);

  --step--2: clamp(0.6944rem, 0.6913rem + 0.0157vi, 0.7035rem);
  --step--1: clamp(0.8333rem, 0.797rem + 0.1816vi, 0.9377rem);
  --step-0: clamp(1rem, 0.913rem + 0.4348vi, 1.25rem);
  --step-1: clamp(1.2rem, 1.0378rem + 0.8109vi, 1.6663rem);
  --step-2: clamp(1.44rem, 1.1683rem + 1.3585vi, 2.2211rem);
  --step-3: clamp(1.728rem, 1.2992rem + 2.1439vi, 2.9607rem);
  --step-4: clamp(2.0736rem, 1.4221rem + 3.2575vi, 3.9467rem);
  --step-5: clamp(2.4883rem, 1.5239rem + 4.8219vi, 5.2609rem);
  --step-6: clamp(2.986rem, 1.5854rem + 7.0031vi, 7.0128rem);

  /* Utopia space sizes */
  --space-3xs: clamp(0.25rem, 0.2283rem + 0.1087vi, 0.3125rem);
  --space-2xs: clamp(0.5rem, 0.4565rem + 0.2174vi, 0.625rem);
  --space-xs: clamp(0.75rem, 0.6848rem + 0.3261vi, 0.9375rem);
  --space-s: clamp(1rem, 0.913rem + 0.4348vi, 1.25rem);
  --space-m: clamp(1.5rem, 1.3696rem + 0.6522vi, 1.875rem);
  --space-l: clamp(2rem, 1.8261rem + 0.8696vi, 2.5rem);
  --space-xl: clamp(3rem, 2.7391rem + 1.3043vi, 3.75rem);
  --space-2xl: clamp(4rem, 3.6522rem + 1.7391vi, 5rem);
  --space-3xl: clamp(6rem, 5.4783rem + 2.6087vi, 7.5rem);

  --space-3xs-2xs: clamp(0.25rem, 0.1196rem + 0.6522vi, 0.625rem);
  --space-2xs-xs: clamp(0.5rem, 0.3478rem + 0.7609vi, 0.9375rem);
  --space-xs-s: clamp(0.75rem, 0.5761rem + 0.8696vi, 1.25rem);
  --space-s-m: clamp(1rem, 0.6957rem + 1.5217vi, 1.875rem);
  --space-m-l: clamp(1.5rem, 1.1522rem + 1.7391vi, 2.5rem);
  --space-l-xl: clamp(2rem, 1.3913rem + 3.0435vi, 3.75rem);
  --space-xl-2xl: clamp(3rem, 2.3043rem + 3.4783vi, 5rem);
  --space-2xl-3xl: clamp(4rem, 2.7826rem + 6.087vi, 7.5rem);

  /* Utopia grid */
  --grid-max-width: 77.50rem;
  --grid-gutter: var(--space-s-l, clamp(1rem, 0.4783rem + 2.6087vw, 2.5rem));
  --grid-columns: 12;
  --text-column-width: 8;
}

/***************************************
Whole-site layout
***************************************/

html {
  background-color: var(--red-color);
}

body {
  font-family: var(--font-primary);
  font-size: var(--step-0);
  line-height: 1.55;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.container {
  margin: 0 auto;
  padding: 0 var(--space-m-l) var(--space-l-xl) var(--space-m-l);
  max-width: 1240px;
}

header {
  padding: var(--space-2xl) 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.lockup a::after {
  content: unset;
}

.lockup svg {
  height: var(--space-2xl);
  width: auto;
  display: block;
}

header nav ul {
  list-style: none;
  text-align: right;
  margin-bottom: 0;
}

nav li {
  display: inline-block;
  margin-left: var(--space-s);
  font-weight: 350;
  font-size: var(--step--1);
  font-family: var(--font-secondary);
  text-transform: uppercase;
}

nav li.is-active {
  font-weight: 700;
}

nav a {
  text-decoration: none;
  text-decoration-color: var(--primary-color);
}

nav a:hover {
  text-decoration: underline;
  text-decoration-thickness: .2em;
  text-underline-offset: 0.2em;
  text-decoration-skip-ink: auto;
  text-decoration-color: var(--primary-color);
  background: inherit;
}

.breadcrumb {
  margin-bottom: var(--space-s);

  ol {
    list-style: none;
  }

  li {
    margin: 0;
    font-weight: 200;
    display: inline;
  }

  .is-active {
    font-weight: 500;
  }

  li::after {
    content: ' > ';
  }
}

/***************************************
Typography
***************************************/

h1,
h2,
h3,
h4,
h5,
h6,
p,
article li {
  max-width: 70ch;
}

p,
h1,
h2,
h3,
h4 {
  margin-bottom: var(--space-s);
}

p,
li {
  font-weight: 350;
}

strong {
  font-weight: 500;
}

h1 {
  font-size: var(--step-3);
  line-height: var(--step-3);
  margin-bottom: var(--space-xl);
  font-weight: 300;
}

h2 {
  font-size: var(--step-1);
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: .1325rem;
  line-height: var(--step-1);
}

h3 {
  font-style: italic;
  font-size: var(--step-1);
  line-height: var(--step-1);
  font-weight: 350;
}

p+h1,
p+h2,
p+h3,
p+h4,
ul+h2,
ul+h3,
ul+h4,
ol+h2,
ol+h3,
ol+h4,
blockquote+h2,
blockquote+h3,
blockquote+h4,
pre+h2,
pre+h3,
pre+h4 {
  margin-top: var(--space-l);
}

a {
  text-decoration-thickness: .08em;
  text-underline-offset: 0.1em;
  text-decoration-skip-ink: auto;
  color: inherit;
  transition-duration: 0.2s;
}

a:hover {
  text-decoration-color: var(--primary-color);
  text-decoration-thickness: .16em;
}

article ul li,
article ol li {
  margin-left: var(--space-l);
}

article ul,
article ol {
  margin-bottom: var(--space-s);
}

blockquote {
  padding-left: var(--space-s);
  padding-right: var(--space-s);
  padding-top: var(--space-2xs);
  padding-bottom: var(--space-2xs);
  border-left: 3px solid var(--blue-color);
  /*margin-bottom: var(--space-m);*/
  margin-top: var(--space-m);
}

blockquote p,
blockquote li {
  font-style: italic;
}

pre {
  /*margin-bottom: var(--space-m);*/
  margin-top: var(--space-m);
  /*background-color: var(--yellow-color);*/
  border-radius: 3px;
  padding: var(--space-s);
  font-size: var(--step--1);
  border: 4px double var(--yellow-color);
  white-space: pre-wrap;
  word-break: break-all;
}

blockquote+p,
pre+p {
  margin-top: var(--space-m);
}

p>code,
li>code {
  /*border: 2px solid var(--yellow-color);*/
  padding: var(--space-3xs);
  border-radius: 3px;
  font-size: var(--step--1);
  background-color: var(--yellow-color);
}

details {
  overflow: hidden;
  padding: var(--space-3xs);
}

summary {
  position: relative;
  cursor: pointer;
  user-select: none;
}

figure {
  vertical-align: baseline;
  margin-top: var(--space-m);
  margin-bottom: var(--space-m);



  img {
    border-radius: 3px;
    height: auto;
    margin-bottom: var(--space-2xs);
    max-width: 100%;
  }

}

figcaption {
  font-size: calc(1 * var(--step--1));
  font-family: var(--font-secondary);
  font-weight: 400;
  max-width: 70ch;
}

figure:has(.fullwidth) {
  max-width: 100%;
}

.fullwidth {
  max-width: 100%;
}

figure:has(.portrait) {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: center;
}

picture.portrait {
  margin-right: var(--space-xs);

  img {
    margin-bottom: 0;
  }
}

picture.portrait~figcaption {
  max-width: max(30%, 15rem);
}

figure:has(.margin) {
  max-width: min(calc(50% - var(--space-l)), 300px);
  float: right;
  clear: right;
  margin-left: var(--space-m);
  margin-top: 0;
  margin-bottom: var(--space-s);
}

@media screen and (min-width: 1240px) {
  figure:has(.margin) {
    margin: 0;
    max-width: 70ch;
    float: none;
    clear: none;
  }

  picture.margin,
  picture.margin~figcaption {
    float: right;
    clear: right;
    width: calc(1240px - 2 * var(--space-m-l) - 100% - var(--space-l));
    margin-right: calc(-1240px + 2 * var(--space-m-l) + 100%);
    margin-top: var(--space-3xs);
    margin-bottom: 0;
    font-size: var(--step--1);
    line-height: 1.3;
    vertical-align: baseline;
    position: relative;
  }
}

/***************************************
Blog post layout
***************************************/

article {
  counter-reset: sidenote-counter;
}

article.writing>.article-body>p:last-of-type:after {
  content: "▩";
  padding: 0 var(--space-3xs);
  color: var(--primary-color);
  position: relative;
  top: -2.5px;
}

.article-head {
  margin-bottom: var(--space-3xl);
}

.article-toc {
  margin-bottom: var(--space-xl);
  border-top: 2px dotted var(--text-color);
  border-bottom: 2px dotted var(--text-color);
  font-family: var(--font-secondary);
  font-size: var(--step--1);
  display: none;

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
    text-decoration-thickness: .04em;
    text-underline-offset: 0.07em;
  }

  summary {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.9em;
  }

  nav {
    margin-top: var(--space-3xs);
    font-family: var(--font-secondary);
  }

  ul {
    list-style: none;
    margin-bottom: 0;

    li {
      margin-left: var(--space-xs);
      font-weight: 500;
      display: block;
      text-transform: none;

      li {
        font-weight: 350;
        font-style: italic;
      }
    }
  }
}

.article-body {
  padding-bottom: var(--space-m);
}


@media screen and (min-width: 70ch) {
  article>* {
    max-width: 70ch;
  }
}


@media screen and (min-width: 1240px) {
  .article-head {
    margin-bottom: var(--space-2xl);
  }

  .article-toc {
    float: right;
    clear: right;
    width: calc(1240px - 2 * var(--space-m-l) - 100% - var(--space-s));
    margin-right: calc(-1240px + 2 * var(--space-m-l) + 100%);
    margin-bottom: 0;
    vertical-align: baseline;
    position: relative;
  }
}

.article-metadata {
  font-family: var(--font-secondary);
  font-size: var(--step--1);
  color: var(--dark-grey-color);
}

.article-metadata li {
  list-style: none;
  margin-left: 0;
  display: block;
}

.article-metadata ul {
  margin-bottom: 0;
  display: inline-block;
  border-top: 2px solid var(--dark-grey-color);
  padding-top: var(--space-3xs);
}

.article-metadata-name {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .1325rem;
  font-size: calc(var(--step--1) * 0.9);
}

article hr {
  padding: var(--space-s) 0;
  margin: 0;
  border: none;
  color: var(--text-color);
  vertical-align: middle;
}

article hr:after {
  content: '* * *';
  display: block;
  text-align: center;
}

nav.article-ring {
  margin-top: var(--space-xl);
}

nav.article-ring li {
  margin-left: 0;
  display: block;
}

.footnotes {
  display: none;
}

.blurb {
  max-width: 70ch;
  border-top: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
  padding: var(--space-s) 0;
  margin-top: var(--space-2xl);
  margin-bottom: var(--space-s);

  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;

  p {
    font-style: italic;
    font-size: var(--step--1);
    margin-bottom: var(--space-xs);
  }

  li {
    font-size: var(--step--1);
    list-style: none;
  }

  figure {
    width: 20%;
    min-width: 150px;
    margin-left: var(--space-s);
    margin-bottom: 0;
    margin-top: 0;
  }

  figure img {
    height: auto;
    margin-bottom: 0;
    border-radius: 3px;
  }

}

a.to-top {
  display: block;
  text-decoration: none;
  text-decoration-color: var(--primary-color);
  font-family: var(--font-secondary);
  font-size: var(--step--1);
  text-transform: uppercase;
  font-weight: 350;
  margin-top: var(--space-l);
}

a.to-top:hover {
  text-decoration: underline;
  text-decoration-thickness: .2em;
  text-underline-offset: 0.2em;
  text-decoration-skip-ink: auto;
  text-decoration-color: var(--primary-color);
  background: inherit;
}

/***************************************
Sidenotes and margin notes
***************************************/

.sidenote,
.marginnote {
  float: right;
  clear: right;
  width: calc(1240px - 2 * var(--space-m-l) - 100% - var(--space-l));
  margin-right: calc(-1240px + 2 * var(--space-m-l) + 100%);
  margin-top: var(--space-3xs);
  margin-bottom: 0;
  font-size: var(--step--1);
  line-height: 1.3;
  vertical-align: baseline;
  position: relative;
}

.sidenote-number {
  counter-increment: sidenote-counter;
}

.sidenote-number:after,
.sidenote:before {
  position: relative;
  vertical-align: baseline;
}

.sidenote-number:after {
  content: counter(sidenote-counter);
  font-variant-position: super;
}

.sidenote:before {
  content: counter(sidenote-counter) " ";
  font-variant-position: super;
}

input.margin-toggle {
  display: none;
}

@media (max-width: 1240px) {

  .sidenote,
  .marginnote {
    display: none;
  }

  .margin-toggle:checked+.sidenote,
  .margin-toggle:checked+.marginnote {
    display: block;
    float: left;
    clear: both;
    width: calc(100% - var(--space-s));
    margin: var(--space-s);
    position: relative;
  }
}

/***************************************
Index page
***************************************/

.intro>p:first-child {
  font-size: var(--step-2);
  font-weight: 300;
  hyphens: none;
  margin-bottom: var(--space-l);
}

/*
.intro blockquote {
  font-style: normal;
  border: none;
  background: var(--blue-color);
  border: 3px dotted var(--text-color);
  border-radius: 0px;

  p {
    font-style: normal;
  }
}
*/

.promo {
  margin-top: var(--space-l);
  display: grid;
  gap: var(--space-m);
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.promo-card {
  .inner {
    padding: var(--space-s);
    border-radius: 3px;
    background-color: var(--light-grey-color);
    min-width: 100%;
  }

  .inner:has(.card-side) {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: var(--space-s);
  }

  h2 {
    /*
    text-transform: none;
    font-weight: 400;
    text-decoration: wavy;
    text-decoration-color: var(--blue-color);
    text-decoration-skip-ink: auto;
    text-decoration-thickness: .2rem;*/
  }

  p {
    color: var(--dark-grey-color);
  }

  a {
    color: var(--text-color);
    background-color: var(--yellow-color);
    border-radius: 3px;
    font-size: var(--step--1);
    font-family: var(--font-secondary);
    cursor: pointer;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1325em;
    text-decoration-color: var(--primary-color);
    padding: var(--space-2xs);
    align-self: end;
  }

  a:hover {
    background-color: var(--red-color);
    color: var(--bg-color);
  }

  .inner>div {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}

.card-side {
  grid-column: 0;

  img {
    border-radius: 3px;
    max-height: 10em;
    width: auto;
  }

}

/***************************************
List page layout
***************************************/

.content-list-c {

  h2 {
    text-transform: none;
    margin-bottom: var(--space-2xs);
    text-decoration: none;
    font-style: italic;
    font-weight: 350;
  }

  p {
    text-decoration: none;
    margin-bottom: var(--space-2xs);
  }

  .content-list-meta {
    font-size: var(--step--1);
    font-family: var(--font-secondary);
    margin-bottom: 0;
    color: var(--dark-grey-color);

    ul {
      margin-bottom: 0;
    }

    li {
      display: inline-block;
      list-style: none;
      margin-right: var(--space-s);
      margin-left: 0;
    }
  }

  .content-list-author {
    font-family: var(--font-secondary);
    font-size: var(--step--1);
    color: var(--dark-grey-color);
  }
}

.content-list-c>li+li {
  margin-top: var(--space-m);
}

.content-list-c>li {
  margin-left: 0;
}

/*
.content-list-c>li:hover {
  background-position: -100% 0;
}*/

.content-list-b {
  margin-top: var(--space-l);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  gap: var(--space-m);

  h2 {
    text-transform: none;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: var(--space-xs);
  }

  p {
    margin-bottom: var(--space-m);
  }

  .content-list-meta {
    font-size: var(--step--1);
    font-family: var(--font-secondary);
    margin-top: auto;

    color: var(--dark-grey-color);

    ul {
      margin-bottom: 0;
      margin-top: var(--space-xs);
    }

    li {
      list-style: none;
      margin-left: 0;
    }
  }
}

.content-list-b>li {
  margin-left: 0;
  padding: var(--space-xs);
  outline: 1px solid var(--text-color);
  border-radius: 3px;
  align-items: left;
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.content-list-b>li:hover {
  outline: 5px solid var(--red-color);
}

.content-list-b>li>a {
  text-decoration: none;
  display: block;
}

/***************************************
Resume
***************************************/

.resume {
  margin-top: var(--space-xl);
  max-width: 100%;

  h2 {
    font-family: var(--font-secondary);
    font-size: var(--step--1);
    border-top: 1px solid var(--text-color);
    font-weight: 350;
    max-width: 100%;
    margin-top: var(--space-xl);
  }

  h3 {
    margin-bottom: var(--space-3xs);
    font-style: normal;
  }

  h3+p {
    font-style: italic;
    margin-bottom: var(--space-3xs);
    display: inline;
  }

  h3+p::after {
    content: ", ";
  }

  h3+p+p {
    margin-bottom: 0;
    display: inline-block;
  }

  p>em {
    font-style: normal;
    font-variant-caps: small-caps;
  }

  ul {
    margin-top: var(--space-3xs);
  }

  li {
    margin-left: var(--space-m);
    font-size: var(--step--1);
    max-width: 70rem;
  }

}

resume>* {
  max-width: 70ch;
}

@media screen and (min-width: 900px) {
  .resume {
    h3+p+p {
      float: right;
      clear: both;
      margin-top: calc(-1 * (var(--space-3xs) + var(--step-1)));
      max-width: 100%;
      display: block;
    }

    h3+p::after {
      content: '';
    }
  }
}

/***************************************
Footer
***************************************/

footer {
  /*
  --text-color: var(--light-color);
  --bg-color: var(--dark-color);
  background-color: var(--bg-color);
  color: var(--text-color);
  */
  background-color: var(--primary-color);
  color: var(--bg-color);
  padding-top: var(--space-l-xl);
}

footer a:hover {
  text-decoration-color: var(--bg-color);
}

.smallprint p {
  font-size: var(--step--1);
}

p:last-child {
  margin-bottom: 0;
}