{{ define "main" }}
    {{- partial "breadcrumbs.html" . -}}

    <main>
        <article id="top">
            <h1>{{ .Title }}</h1>
            {{ .Content }}
            <hr />
            <ul class="content-list-c">
            {{ range .Pages }}
                <li>
                    <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
                    <div class="content-list-meta">
                        {{- partial "article-metadata.html" . -}}
                    </div>
                </li>
            {{ end }}
        </ul>
        </article>
        
    </main>

    {{- partial "blurb.html" . -}}
    <a href="{{ .Permalink }}/#top" class="to-top">Back to top</a>
{{ end }}

