body {
  margin: 1rem auto;
  max-width: 40rem;
  padding: 0 0.62rem;
  font-family: "Palatino Linotype", Palatino, serif;
  font-size: 1.2rem;
  line-height: 1.6rem;
  background-color: #FFF3DF;
  color: #000000;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav-list {
  font-family: "Courier New", Courier, monospace;
  list-style-type: none;
  line-height:1.8rem;
  text-align: right;
  margin-top: 1rem;
  padding-right: 3%;
}

@media screen and (max-width:480px) {
  .nav-list {
    flex-grow: 1;
    display: flex;
    flex-wrap:wrap;
    justify-content:space-around;
    margin-top:-0.2rem;
    margin-bottom:.8rem;
    padding:0;
  }
  .nav-list li {
    padding-right:.8rem;
    padding-left:.8rem;
  }
}

.post-list {
  list-style-type: none;
  padding-left: 0;
  font-size: 1.2rem;
}

ul {
  list-style-type: symbols(cyclic "~");
  padding-left: 1em;
}

a {
  text-decoration: none;
}

a:link {
  color: #cf5c36;
}

a:visited {
  color: #9B6100
}

.info {
  font-size: 1.0rem;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 1.0rem;
}

.flat-list {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding-left: 0;
}

.flat-list li {
  display: inline-block;
  padding-right: 1rem;
  white-space: nowrap;
}

h1.title {
  font-variant: small-caps;
  margin-bottom: .5rem;
  line-height: 2.4rem;
  margin-top: 0.5rem;
}

h1, h2, h3 {
  line-height: 1.2rem;
}

.ascii {
  font-family: monospace;
  font-size: 0.5rem;
  line-height: 0.5rem;
  white-space: pre;
}

header .ascii {
  margin-top: 1rem;
}

.line {
  width: 97%;
  height: 2px;
  background-color: #7c7c7c;
}

@media print {
  body {
    max-width: none;
  }
}

footer {
  font-size: 0.9rem;
  margin-top: 0.8rem;
}

