body {
  margin: 1rem auto;
  max-width: 40rem;
  padding: 0 0.62rem;
  font-family: "Palatino Linotype", Palatino, serif;
  font-size: 1.2rem;
  line-height: 1.8rem;
  background-color: #FEFEFA;
  color: #000000;
}

article {
  text-align: justify;
}


p {
  -webkit-hyphens: auto;
  -webkit-hyphenate-limit-before: 3;
  -webkit-hyphenate-limit-after: 3;
  -webkit-hyphenate-limit-chars: 6 3 3;
  -webkit-hyphenate-limit-lines: 2;
  -webkit-hyphenate-limit-last: always;
  -webkit-hyphenate-limit-zone: 8%;
  -moz-hyphens: auto;
  -moz-hyphenate-limit-chars: 6 3 3;
  -moz-hyphenate-limit-lines: 2;
  -moz-hyphenate-limit-last: always;
  -moz-hyphenate-limit-zone: 8%;
  -ms-hyphens: auto;
  -ms-hyphenate-limit-chars: 6 3 3;
  -ms-hyphenate-limit-lines: 2;
  -ms-hyphenate-limit-last: always;
  -ms-hyphenate-limit-zone: 8%;
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav-list {
  font-family: "Courier New", Courier, monospace;
  list-style-type: none;
  line-height:1.8rem;
  text-align: right;
  margin-top: 1rem;
}

@media screen and (max-width:480px) {
  .nav-list {
    flex-grow: 1;
    display: flex;
    flex-wrap:wrap;
    justify-content:space-around;
    margin-top:-0.2rem;
    margin-bottom:.8rem;
    padding:0;
  }
  .nav-list li {
    padding-right:.8rem;
    padding-left:.8rem;
  }
}

ul {
  list-style-type: symbols(cyclic "◰" "◳" "◲" "◱");
  padding-left: 1em;
}

a {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
}

a:link {
  color: #500bff;
}

a:visited {
  color: #713eff;
}

.info {
  font-size: 1.0rem;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 1.0rem;
}

.flat-list {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding-left: 0;
}

.flat-list li {
  display: inline-block;
  padding-right: 1rem;
  white-space: nowrap;
}

h1.title {
  font-variant: small-caps;
  margin-bottom: .5rem;
  line-height: 2.4rem;
  margin-top: 1rem;
}

h1, h2, h3, h4 {
  line-height: 1.4rem;
  position: relative; 
}

.ascii {
  font-family: monospace;
  font-size: 0.5rem;
  line-height: 0.5rem;
  white-space: pre;
}

header .ascii {
  margin-top: 1rem;
}

.line {
  height: 2px;
  background-color: #7c7c7c;
}

@media print {
  body {
    max-width: none;
  }
}

footer {
  font-size: 0.9rem;
  margin-top: 0.8rem;
}

code {
  border-radius: 3px;
  border: 1px solid #7c7c7c;
  background: #fdf6e3;
  padding: 1px;
  font-size: 1.1rem;
  font-family: "Courier New", Courier, monospace;
}

pre code {
  font-size: 1rem;
  line-height: 1.2rem;
}

.anchor {
  padding-left: 30px;
  margin-left: -30px;
  cursor: pointer;
  color: #000;
}

.anchor:hover {
  color:#666;
}

h1:hover .anchor span:before,
h2:hover .anchor span:before,
h3:hover .anchor span:before,
h4:hover .anchor span:before {
  content:"Δ";
  position:absolute;
  left:0;
  top:0;
  bottom:0;
  color: #666;
}

blockquote {
  color: #666;
  font-size: inherit;
  padding: 0rem 1rem;
  margin: 0rem;
  border-left: 3px solid #666;
}

object {
  width: 100%;
  height: 25em;
}

canvas {
  width: 100%;
}
