<header>
    <pre class="ascii">
                                .d8888b.   d888   .d8888b.  
                               d88P  Y88b d8888  d88P  Y88b 
                               888          888  888        
 .d8888b .d88b.  88888b.d88b.  888d888b.    888  888d888b.  
d88P"   d88P"88b 888 "888 "88b 888P "Y88b   888  888P "Y88b 
888     888  888 888  888  888 888    888   888  888    888 
Y88b.   Y88b 888 888  888  888 Y88b  d88P   888  Y88b  d88P 
 "Y8888P "Y88888 888  888  888  "Y8888P"  8888888 "Y8888P"  
             888                                            
        Y8b d88P                                            
         "Y88P"                                             
    </pre>
    <ul class="nav-list">
      <li><a href="{{ .Site.BaseURL }}">home</a></li>
      <li><a href="/research/">research</a></li>
      <li><a href="/contact/">contact</a></li>
    </ul>
  </header>

  <div class="line"></div>