<head>
    <meta charset="UTF-8" />
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <meta name="description" content="{{ .Description }}">
    <base href="{{ .Site.BaseURL }}">

    {{ $mainCss := resources.Get "css/main.css" | minify | fingerprint "sha512" }}
    <link inline href="{{ $mainCss.Permalink }}" rel="stylesheet" type="text/css" integrity="{{ $mainCss.Data.Integrity }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🌳</text></svg>">
    <link rel="canonical" href="{{ .Permalink }}">
</head>