* {
    margin: 0;
    padding: 0
}

*,
*::before,
*::after {
    box-sizing: border-box
}

html,
body {
    background-color: #fff
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5
}

ul[class],
ol[class] {
    list-style: none
}

a:not([class]) {
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto
}

img,
iframe,
video {
    display: block;
    margin: 0;
    max-width: 100%;
    width: 100%
}

@media(prefers-reduced-motion: reduce) {
    * {
        animation-duration: .01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: .01ms !important;
        scroll-behavior: auto !important
    }
}

:root {
    --type-scale-step--2: clamp(0.5rem, 0.8665rem + -0.4886vw, 0.7688rem);
    --type-scale-step--1: clamp(0.7075rem, 0.8609rem + -0.2045vw, 0.82rem);
    --type-scale-step-0: clamp(0.875rem, 0.8295rem + 0.2273vw, 1rem);
    --type-scale-step-1: clamp(0.9338rem, 0.7592rem + 0.8727vw, 1.4138rem);
    --type-scale-step-2: clamp(0.9963rem, 0.6315rem + 1.8239vw, 1.9994rem);
    --type-scale-step-3: clamp(1.0631rem, 0.4218rem + 3.2068vw, 2.8269rem);
    --type-scale-step-4: clamp(1.1344rem, 0.0932rem + 5.2057vw, 3.9975rem);
    --type-scale-step-5: clamp(1.21rem, -0.4055rem + 8.0773vw, 5.6525rem);
    --spacing-xs: clamp(0.69rem, calc(0.65rem + 0.20vw), 0.88rem);
    --spacing-s: clamp(0.88rem, calc(0.82rem + 0.27vw), 1.13rem);
    --spacing-m: clamp(1.31rem, calc(1.23rem + 0.41vw), 1.69rem);
    --spacing-l: clamp(1.75rem, calc(1.64rem + 0.54vw), 2.25rem);
    --spacing-xl: clamp(2.63rem, calc(2.46rem + 0.81vw), 3.38rem);
    --spacing-2xl: clamp(3.50rem, calc(3.28rem + 1.08vw), 4.50rem);
    --spacing-range-xs-s: clamp(0.69rem, calc(0.59rem + 0.47vw), 1.13rem);
    --spacing-range-s-m: clamp(0.88rem, calc(0.70rem + 0.88vw), 1.69rem);
    --spacing-range-m-l: clamp(1.31rem, calc(1.11rem + 1.01vw), 2.25rem);
    --spacing-range-l-xl: clamp(1.75rem, calc(1.40rem + 1.76vw), 3.38rem);
    --spacing-range-xl-2xl: clamp(2.63rem, calc(2.22rem + 2.03vw), 4.50rem)
}

* {
    font-synthesis: none;
    font-variation-settings: "opsz" var(--vf-opsz), "slnt" var(--vf-slnt), "wght" var(--vf-wght)
}

@font-face {
    font-family: "Degular Variable";
    font-style: normal;
    font-display: fallback;
    src: url(/fonts/degular-variable/DegularVariable.ttf) format("truetype")
}

@font-face {
    font-family: "Vulf Mono";
    font-style: normal;
    font-weight: 300;
    font-display: fallback;
    src: url(/fonts/vulf-mono/Vulf_Mono-Light_web.woff2) format("woff2")
}

@font-face {
    font-family: "Vulf Mono";
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    src: url(/fonts/vulf-mono/Vulf_Mono-Regular_web.woff2) format("woff2")
}

@font-face {
    font-family: "Vulf Mono";
    font-style: normal;
    font-weight: 700;
    font-display: fallback;
    src: url(/fonts/vulf-mon/Vulf_Mono-Bold_web.woff2) format("woff2")
}

@font-face {
    font-family: "Vulf Mono";
    font-style: normal;
    font-weight: 800;
    font-display: fallback;
    src: url(/fonts/vulf-mon/Vulf_Mono-Black_web.woff2) format("woff2")
}

@font-face {
    font-family: "Vulf Mono";
    font-style: italic;
    font-weight: 300;
    font-display: fallback;
    src: url(/fonts/vulf-mono/Vulf_Mono-Light_Italic_web.woff2) format("woff2")
}

@font-face {
    font-family: "Vulf Mono";
    font-style: italic;
    font-weight: 400;
    font-display: fallback;
    src: url(/fonts/vulf-mono/Vulf_Mono-Italic_web.woff2) format("woff2")
}

@font-face {
    font-family: "Vulf Mono";
    font-style: italic;
    font-weight: 700;
    font-display: fallback;
    src: url(/fonts/vulf-mon/Vulf_Mono-Bold_Italic_web.woff2) format("woff2")
}

@font-face {
    font-family: "Vulf Mono";
    font-style: italic;
    font-weight: 800;
    font-display: fallback;
    src: url(/fonts/vulf-mon/Vulf_Mono-Black_Italic_web.woff2) format("woff2")
}

body,
input {
    color: #333;
    font-family: "Degular Variable", sans-serif;
    font-feature-settings: "kern" on, "liga" on;
    font-optical-sizing: none;
    font-size: var(--type-scale-step-0);
    font-style: normal;
    letter-spacing: normal;
    line-height: 132.5%;
    --vf-opsz: 1;
    --vf-slnt: 0;
    --vf-wght: 1
}

@media screen and (min-width: 40em) {

    body,
    input {
        --vf-opsz: 20
    }
}

@media screen and (min-width: 45em) {

    body,
    input {
        line-height: 147.25%;
        --vf-opsz: 40
    }
}

@media screen and (min-width: 55em) {

    body,
    input {
        line-height: 150%
    }
}

@media screen and (min-width: 65em) {

    body,
    input {
        --vf-opsz: 80
    }
}

@media screen and (min-width: 80em) {

    body,
    input {
        line-height: 145%;
        --vf-opsz: 160
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p.welcome {
    --vf-opsz: 250
}

@media screen and (min-width: 30em) {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p.welcome {
        --vf-opsz: 400
    }
}

@media screen and (min-width: 35em) {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p.welcome {
        --vf-opsz: 600
    }
}

@media screen and (min-width: 50em) {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p.welcome {
        --vf-opsz: 850
    }
}

@media screen and (min-width: 70em) {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p.welcome {
        --vf-opsz: 1000
    }
}

strong,
bold {
    font-synthesis: none;
    --vf-wght: 700
}

em,
i,
blockquote p {
    font-style: italic;
    font-synthesis: none;
    --vf-slnt: 10
}

h1,
h2,
h3,
h4 {
    padding-bottom: var(--spacing-xs)
}

h1 {
    font-size: var(--type-scale-step-5);
    line-height: var(--type-scale-step-5);
    padding-bottom: var(--spacing-range-l-xl);
    --vf-wght: 900
}

@media screen and (min-width: 40em) {
    h1 {
        line-height: calc(var(--type-scale-step-5)*.825)
    }
}

h1 span {
    --vf-wght: 100
}

body.work h1+p,
body.speaking h1+p {
    font-size: var(--type-scale-step-2);
    line-height: calc(var(--type-scale-step-2)*1.125);
    max-width: 50ch
}

@media screen and (min-width: 60em) {

    body.work h1+p,
    body.speaking h1+p {
        --vf-opsz: 500
    }
}

h2 {
    font-size: var(--type-scale-step-3);
    line-height: var(--type-scale-step-3);
    --vf-wght: 100
}

h3 {
    font-size: var(--type-scale-step-2);
    line-height: var(--type-scale-step-2);
    --vf-wght: 700
}

div.promo_card h3 {
    padding-top: var(--spacing-xs)
}

h3 a {
    text-decoration-thickness: .025em
}

h4 {
    font-size: var(--type-scale-step-0);
    line-height: var(--type-scale-step-0);
    letter-spacing: .1325rem;
    text-transform: uppercase;
    --vf-wght: 560
}

h4+p,
h4+ul.tags {
    margin-top: -0.5rem
}

p+h2,
p+h3,
p+h4 {
    padding-top: var(--type-scale-step-2)
}

h5,
h6 {
    background-color: red;
    font-size: var(--type-scale-step-5)
}

figcaption,
button {
    font-size: var(--type-scale-step--1)
}

figcaption {
    margin-bottom: var(--spacing-l)
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
article li {
    max-width: 70ch
}

div.product_page_block h1,
div.product_page_block h2,
div.product_page_block p {
    max-width: 999ch;
    text-align: center
}

p,
li {
    --vf-wght: 200
}

article p,
article li,
li.project p,
div.about-primary p,
div.about-secondary p,
div.product_page_block p,
div.single-issue p,
div.single-issue li {
    padding-bottom: var(--spacing-xs)
}

article ul,
li.project ul,
div.single-issue ul {
    padding-bottom: 0
}

p.welcome {
    font-size: var(--type-scale-step-3);
    line-height: var(--type-scale-step-3);
    margin-bottom: var(--spacing-2xl);
    max-width: 100ch;
    --vf-wght: 100
}

p.welcome strong {
    --vf-wght: 900
}

p.article-banner,
p.medium-plug,
span.callout,
div.about-secondary span {
    background: #e2ffe3
}

p.article-banner,
p.medium-plug,
span.callout {
    border-radius: .5rem;
    margin-bottom: var(--spacing-m);
    padding: var(--spacing-m)
}

div.article_metadata li,
li.yearly-archive {
    list-style: none
}

div.article_metadata ul.tags li {
    display: inline;
    padding-right: .5rem
}

ul {
    padding-bottom: var(--spacing-l)
}

ul[class] li {
    list-style: none;
    margin-left: 0
}

ul li {
    list-style: circle;
    margin-left: var(--spacing-m)
}

@media screen and (min-width: 50em) {
    ul li {
        margin-left: 0
    }
}

ul.socials li {
    padding: .5rem 0
}

ul.tags {
    margin-bottom: var(--spacing-l)
}

ol.blog-posts li h3+p {
    padding-bottom: var(--spacing-m)
}

code,
pre {
    background-color: rgba(255, 253, 224, .5);
    font-family: "Vulf Mono", sans-serif;
    font-feature-settings: "kern" on, "liga" on;
    font-style: normal;
    font-weight: 300;
    line-height: var(--type-scale-step-0)
}

p code {
    font-size: 90%
}

pre {
    border-radius: 5px;
    color: rgba(0, 0, 0, .7);
    margin: var(--spacing-s) 0;
    padding: var(--spacing-l);
    overflow: auto;
    width: 90%
}

pre code {
    background: none;
    font-size: var(--type-scale-step--1)
}

abbr {
    text-decoration: none
}

footer,
footer a {
    color: #fff
}

@media screen and (min-width: 50em) {
    div.cv ol li span+span {
        font-size: var(--type-scale-step-1)
    }
}

hr {
    background-color: #e0e0e0;
    border: none;
    height: 1px;
    margin: var(--spacing-l) 0 var(--spacing-xl) 0;
    width: 49%
}

a {
    color: #333;
    text-decoration-color: #ff005c;
    text-decoration-thickness: .05em;
    text-underline-offset: .07em;
    transition: color .25s ease, text-decoration-color .25s ease
}

a:hover {
    color: #ff005c;
    text-decoration-color: #ff005c
}

nav ul li a {
    text-decoration-color: #fff
}

nav ul.promo-nav li {
    letter-spacing: .1325rem;
    text-transform: uppercase;
    --vf-wght: 600
}

nav.inside ul.promo-nav li {
    font-size: var(--type-scale-step--1)
}

nav.inside ul.main-nav li {
    font-size: var(--type-scale-step-1)
}

nav.outside ul.promo-nav li {
    font-size: var(--type-scale-step--1)
}

body.home a.home,
body.work a.work,
body.blog a.blog,
body.speaking a.speaking,
body.about a.about {
    --vf-wght: 700
}

body.book a.book,
body.workshop a.workshop,
body.podcast a.podcast,
body.newsletter a.newsletter {
    --vf-wght: 1000
}

a.button,
input,
input.button {
    border-radius: .5rem;
    line-height: var(--type-scale-step-1);
    margin-top: var(--spacing-xs);
    padding: var(--spacing-xs) var(--spacing-s) calc(var(--spacing-xs) - .125rem) var(--spacing-s);
    transition: background-color .25s ease, border-color .25s ease, color .25s ease
}

a.button,
input.button {
    background-color: #ff005c;
    color: #fff;
    display: inline-block;
    font-size: 75%;
    letter-spacing: .1325rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    --vf-wght: 700
}

@media screen and (min-width: 70em) {

    a.button,
    input.button {
        font-size: 100%
    }
}

a.button:hover,
input.button:hover {
    background-color: #333;
    border-color: #333;
    color: #fff
}

.button.alt-button {
    background: #fff;
    border: 2px solid #ff005c;
    color: #ff005c;
    display: block
}

.button.alt-button:hover {
    background-color: #ff005c;
    border-color: #ff005c;
    color: #fff
}

body.speaking h1+p a.button {
    margin-bottom: var(--spacing-xl)
}

div.follow h4 {
    padding-bottom: var(--spacing-s)
}

ul.socials li a {
    position: relative
}

ul.socials li a::before {
    background-size: cover;
    content: "";
    filter: invert(18%) sepia(36%) saturate(0%) hue-rotate(235deg) brightness(101%) contrast(100%);
    height: 1em;
    position: absolute;
    width: 1em
}

div.music_container ul.socials li a::before {
    filter: invert(18%) sepia(36%) saturate(100%) hue-rotate(235deg) brightness(10) contrast(100%)
}

div.music_container ul.socials li a:hover::before,
ul.socials li a:hover::before {
    filter: invert(15%) sepia(87%) saturate(7090%) hue-rotate(334deg) brightness(99%) contrast(105%)
}

ul.socials li a {
    padding-left: 1.5em
}

ul.socials li a::before {
    left: 0;
    bottom: -0.025em
}

a.bandcamp::before {
    background-image: url("/images/icons/bandcamp.svg")
}

a.facebook::before {
    background-image: url("/images/icons/facebook.svg")
}

a.instagram::before {
    background-image: url("/images/icons/instagram.svg")
}

a.linkedin::before {
    background-image: url("/images/icons/linkedin.svg")
}

a.mastodon::before {
    background-image: url("/images/icons/mastodon.svg")
}

a.soundcloud::before {
    background-image: url("/images/icons/soundcloud.svg")
}

a.threads::before {
    background-image: url("/images/icons/threads.svg")
}

a.twitter::before {
    background-image: url("/images/icons/twitter.svg")
}

a.x::before {
    background-image: url("/images/icons/x.svg")
}

body {
    background-color: #fff;
    border-top: 5px solid #ff005c
}

@media screen and (min-width: 60em) {
    body {
        border-width: .5rem
    }
}

div.container {
    background-color: #fff;
    margin: 0 auto;
    padding: 0 2rem 4rem 2rem;
    max-width: 70em
}

@media screen and (min-width: 50em) {
    div.container {
        padding-left: 3rem;
        padding-right: 3rem
    }
}

img,
video {
    border-radius: .5rem;
    margin-bottom: var(--spacing-s)
}

article img {
    margin-top: var(--spacing-s)
}

article video {
    margin-bottom: var(--spacing-l);
    margin-top: var(--spacing-s)
}

body.speaking div.default-page-block img,
body.about div.default-page-block img {
    margin-bottom: var(--spacing-xl)
}

img.whiteonwhite {
    outline: 2px solid rgba(0, 0, 0, .1);
    outline-offset: -2px
}

iframe {
    border-radius: .5rem;
    margin-bottom: var(--spacing-s)
}

header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0
}

@media screen and (min-width: 40em) {
    header {
        padding: 2rem 0
    }
}

h1.root {
    margin-left: -0.05rem;
    margin-top: 1rem;
    max-width: 5rem;
    padding-bottom: 0
}

@media screen and (min-width: 40em) {
    h1.root {
        margin-top: .5rem;
        max-width: 8rem
    }
}

@media screen and (min-width: 60em) {
    h1.root {
        margin-top: 0;
        max-width: 10rem
    }
}

nav ul {
    text-align: right
}

nav ul li {
    display: inline-block;
    padding-left: 1rem
}

footer {
    background-color: #333;
    background-image: url("../../images/nnnoise.svg");
    background-repeat: repeat;
    padding-top: 4rem
}

footer div.container {
    background-color: #333;
    background-image: url("../../images/nnnoise.svg");
    background-repeat: repeat
}

div.music_container {
    margin: 4rem 0
}

@media screen and (min-width: 40em) {
    div.music_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0 5%
    }
}

@media screen and (min-width: 55em) {
    div.music_container {
        grid-template-columns: repeat(4, 1fr)
    }
}

div.outbound {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5em, 1fr));
    grid-gap: 0 5%;
    padding-bottom: var(--spacing-xs)
}

div.outbound a.button {
    background: none
}

div.music_container img {
    border-radius: .5rem;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .075), 0 2px 2px rgba(0, 0, 0, .075), 0 4px 4px rgba(0, 0, 0, .075), 0 8px 8px rgba(0, 0, 0, .075), 0 16px 16px rgba(0, 0, 0, .075);
    margin: 1rem 0 2rem -0.25rem;
    transform: rotate(-1.25deg)
}

div.teaser_a {
    margin-bottom: var(--spacing-xl)
}

@media screen and (min-width: 40em) {
    div.further_reading {
        display: grid;
        grid-gap: 0 10%;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "teaser_b teaser_a"
    }

    div.teaser_a {
        grid-area: teaser_a;
        margin-bottom: 0
    }

    div.teaser_b {
        grid-area: teaser_b
    }
}

@media screen and (min-width: 40em) {
    div.product_page_block {
        margin: 0 auto;
        padding-bottom: 10vw;
        width: 75%
    }
}

form label {
    display: none
}

form input {
    border: 1px solid #ff005c;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

form input:focus {
    border-color: #333
}

form input.first_name,
form input.email {
    border-radius: .5rem 0 0 .5rem
}

form input.last_name,
form input.button {
    border-radius: 0 5px 5px 0;
    margin-left: -1px
}

form input.button:hover {
    cursor: pointer
}

body.newsletter form div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
    grid-gap: 0 0
}

nav ul.promo-nav,
nav ul.main-nav {
    padding: var(--spacing-xs) 0
}

nav.outside {
    display: none
}

@media screen and (min-width: 45em) {
    nav.outside {
        display: block
    }
}

.hamburger-icon {
    display: inline-block;
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer
}

@media screen and (min-width: 45em) {
    .hamburger-icon {
        display: none
    }
}

.hamburger-icon span {
    background-color: #ff005c;
    border-radius: 10px;
    display: block;
    height: 3px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%
}

.hamburger-icon span:before,
.hamburger-icon span:after {
    background-color: #ff005c;
    border-radius: 10px;
    content: "";
    height: 3px;
    position: absolute;
    width: 100%
}

.hamburger-icon span:before {
    top: -8px
}

.hamburger-icon span:after {
    top: 8px
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ff005c;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1
}

.overlay.open {
    display: flex
}

.close-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15vw;
    right: 5%;
    cursor: pointer
}

.close-icon:before,
.close-icon:after {
    background-color: #fff;
    border-radius: 10px;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%
}

.close-icon:before {
    transform: rotate(45deg)
}

.close-icon:after {
    transform: rotate(-45deg)
}

nav.inside ul.promo-nav {
    padding-bottom: var(--spacing-l)
}

nav.inside li {
    display: block;
    line-height: 100%;
    padding-bottom: var(--spacing-s);
    padding-left: 0;
    text-align: center
}

nav.inside li a {
    color: #fff;
    text-decoration: none
}

@media screen and (min-width: 42rem) {
    div.promo {
        display: grid;
        grid-gap: .5rem 2rem;
        grid-template-columns: repeat(2, 1fr)
    }
}

div.promo_card div.inner {
    background-color: #f6f6f6;
    border-radius: .5rem;
    margin-top: var(--spacing-range-s-m);
    padding: var(--spacing-range-s-m)
}

div.promo_card.my_book div.inner,
div.promo_card.my_podcast div.inner {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 0 0
}

div.promo_card img {
    margin: 0 0 1rem 0 !important
}

div.promo_card.my_book img,
div.promo_card.my_podcast img {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .075), 0 2px 2px rgba(0, 0, 0, .075), 0 4px 4px rgba(0, 0, 0, .075), 0 8px 8px rgba(0, 0, 0, .075), 0 16px 16px rgba(0, 0, 0, .075);
    left: -1.5rem;
    margin-bottom: -4rem;
    position: relative;
    transform: rotate(-1.25deg);
    top: 0
}

@media screen and (min-width: 60em) {

    div.promo_card.my_book img,
    div.promo_card.my_podcast img {
        left: -2rem
    }
}

div.promo_card form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
    grid-gap: 0 0
}

p.welcome,
div.cv {
    padding: var(--spacing-range-l-xl) 0
}

@media screen and (min-width: 40em) {

    p.welcome,
    div.cv {
        padding-left: 7.25vw;
        padding-right: 7.25vw
    }
}

@media screen and (min-width: 110em) {

    p.welcome,
    div.cv {
        padding-left: 5vw;
        padding-right: 5vw
    }
}

div.cv ol {
    margin: 0 auto;
    padding: var(--spacing-range-s-m) 0;
    width: 100%
}

div.cv ol li {
    display: grid;
    grid-template-columns: 15ch auto;
    padding: 0
}

div.cv ol li span {
    padding-bottom: 2rem;
    padding-right: 2rem;
    text-align: right
}

div.cv ol li span+span {
    border-left: 2px solid rgba(0, 0, 0, .1);
    padding-left: 2rem;
    padding-right: 0;
    position: relative;
    text-align: left
}

div.cv ol li span+span::after {
    width: 2rem;
    height: 2rem;
    display: block;
    position: absolute;
    border-radius: 10rem;
    content: "";
    border: 2px solid rgba(0, 0, 0, .1);
    background: #fff;
    left: -0.995rem;
    top: -0.5rem
}

@media screen and (min-width: 38em) {
    div.cv ol li span+span::after {
        left: -1.05rem
    }
}

@media screen and (min-width: 80em) {
    div.cv ol li span+span::after {
        left: -1rem;
        top: -0.25rem
    }
}

div.cv ol li:last-child span {
    padding-bottom: 0
}

div.teaser_a p:last-of-type,
div.teaser_b p:last-of-type {
    margin-top: var(--spacing-m)
}

li.project {
    padding: var(--spacing-m) 0
}

@media screen and (min-width: 55em) {
    li.project {
        display: grid;
        grid-gap: 0 5%;
        grid-template-columns: 33% 62%;
        grid-template-areas: "head body" "more more" "gallery gallery";
        padding: var(--spacing-2xl) 0
    }
}

li.project div.head {
    grid-area: head;
    padding-top: var(--spacing-l)
}

li.project div.body {
    grid-area: body
}

@media screen and (min-width: 40em) {
    li.project div.gallery {
        grid-area: gallery;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        grid-gap: 0 2.5%
    }
}

li.project div.gallery img {
    margin-bottom: 1rem !important
}

li.project div.more {
    grid-area: more
}

ul.roles li {
    list-style: circle;
    margin-left: 1em;
    padding: 0
}

ol.blog-posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
    grid-gap: 0 5%;
    margin-top: var(--spacing-xl)
}

ol.blog-posts li {
    margin-bottom: var(--spacing-xl)
}

li.yearly-archive h2 {
    margin-bottom: -2rem
}

article {
    margin: 0 auto
}

@media screen and (min-width: 40em) {
    article {
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-areas: "head head" "meta body"
    }

    div.article_heading {
        grid-area: head
    }

    div.article_metadata {
        grid-area: meta
    }

    div.article_body {
        grid-area: body;
        padding-left: 2em
    }
}

div.article_heading img {
    margin-bottom: var(--spacing-xl)
}

@media screen and (min-width: 40em) {
    div.article_body {
        margin-top: -0.25rem
    }
}

div.article_body figure,
div.article_body video {
    max-width: 70ch
}

article div.further_reading div {
    padding-top: 2rem
}

div.newsletter_insert {
    display: none;
    margin-bottom: 20vh;
    opacity: 0;
    transition: opacity 1s
}

@media screen and (min-width: 40em) {
    div.newsletter_insert {
        background-color: #f6f6f6;
        border-radius: 10px;
        left: 0;
        opacity: 1;
        padding: var(--spacing-xs);
        position: -webkit-sticky;
        position: sticky;
        top: 2rem
    }
}

@media screen and (min-width: 65em) {
    div.newsletter_insert {
        margin-left: -25%
    }
}

@media screen and (min-width: 80em) {
    div.newsletter_insert {
        margin-left: -50%
    }
}

@media screen and (min-width: 100em) {
    div.newsletter_insert {
        margin-left: -100%
    }
}

div.newsletter_insert form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
    grid-gap: 0 0;
    padding-top: 1rem
}

div.newsletter_insert form label {
    display: none
}

div.newsletter_insert p {
    padding-top: var(--spacing-xs)
}

ol.events {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
    grid-gap: 0 5%;
    margin-top: var(--spacing-xl)
}

ol.events li {
    margin-bottom: var(--spacing-xl)
}

span.country-flag {
    display: inline-block;
    margin-left: .25em
}

ol.timeline {
    padding-bottom: var(--spacing-2xl);
    padding-top: var(--spacing-m)
}

ol.timeline li {
    padding: 0 0 var(--spacing-l) var(--spacing-l);
    position: relative;
    color: #333;
    border-left: 2px solid rgba(0, 0, 0, .1)
}

ol.timeline li::after {
    width: 2rem;
    height: 2rem;
    display: block;
    top: -1px;
    position: absolute;
    left: -0.95rem;
    border-radius: 5rem;
    content: "";
    border: 2px solid rgba(0, 0, 0, .1);
    background: #fff
}

ol.timeline li h3 {
    margin-top: -10px;
    padding-top: 0
}

ol.timeline li:last-of-type {
    border: none
}

@media screen and (min-width: 60em) {
    div.about-container {
        display: grid;
        grid-template-columns: 48% 52%;
        grid-template-areas: "intro intro" "primary secondary"
    }

    div.about-intro {
        grid-area: intro
    }

    div.about-primary {
        grid-area: primary;
        padding-right: 5%
    }

    div.about-secondary {
        grid-area: secondary;
        padding-left: 5%
    }
}

@media screen and (min-width: 40em) {
    div.about-intro {
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-areas: "intro intro" "primary secondary" "banner banner"
    }

    div.about-intro h1 {
        grid-area: intro
    }

    div.about-intro p {
        grid-area: primary;
        padding-right: 5%
    }

    div.about-intro div.follow {
        grid-area: secondary
    }

    div.about-intro img {
        grid-area: banner
    }
}

body.book {
    background-color: #edf4f5
}

body.book div.overlay+div.container {
    background-color: #edf4f5;
    max-width: 100em;
    padding-bottom: calc(var(--spacing-xl)*2);
    padding-left: var(--spacing-xl);
    padding-right: var(--spacing-xl)
}

@media screen and (min-width: 32rem) {
    body.book div.book_bizniz {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 0 var(--spacing-2xl)
    }
}

body.book div.book_bizniz img {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .075), 0 2px 2px rgba(0, 0, 0, .075), 0 4px 4px rgba(0, 0, 0, .075), 0 8px 8px rgba(0, 0, 0, .075), 0 16px 16px rgba(0, 0, 0, .075);
    margin-bottom: var(--spacing-xl);
    max-width: 26rem;
    transform: rotate(-1.25deg)
}

body.book div.book_bizniz h2 {
    max-width: 32ch
}

@media screen and (min-width: 46rem) {
    body.book div.preorder_destinations {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 0 var(--spacing-l)
    }
}

body.book div.preorder_destinations ul {
    padding-bottom: 0
}

body.book video {
    margin: var(--spacing-xl) 0;
    width: 100%
}

body.book video+p {
    margin: 0;
    max-width: 1000rem;
    padding: 0;
    text-align: center
}

h2#archives {
    padding-top: var(--spacing-xl);
    text-align: center
}

body.newsletter li h3 a span {
    --vf-wght: 100;
    color: #a5b2b8
}

body.newsletter.issue div.container main header {
    display: none
}

body.newsletter.issue div.music_container,
body.newsletter.issue h2#music,
body.newsletter.issue h2#music+p {
    display: none
}

body.newsletter.issue footer div.container {
    max-width: 36rem;
    padding-left: 0;
    padding-right: 0
}

body.newsletter.issue main {
    margin: 0 auto;
    max-width: 36rem
}

a.backtoejs {
    background-color: #ff005c;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    color: #fff;
    display: block;
    padding: var(--spacing-s) var(--spacing-m);
    text-decoration: none;
    transition: background-color .25s ease;
    --vf-wght: 700
}

a.backtoejs:hover {
    background-color: #333
}

a.ts-logo {
    display: block;
    opacity: 1;
    transition: opacity .25s ease;
    width: 100%
}

@media screen and (min-width: 30em) {
    a.ts-logo {
        width: 33%
    }
}

a.ts-logo:hover {
    opacity: .8
}

a.ts-logo img {
    margin: var(--spacing-xl) 0
}

div.single-issue {
    padding-bottom: var(--spacing-xl)
}

div.single-issue h1 {
    padding-top: var(--spacing-xl)
}

div.issue-inner {
    background-color: #f2f7f8;
    border-radius: .5rem;
    margin: var(--spacing-l) 0;
    padding: var(--spacing-m)
}

div.single-issue blockquote p {
    border-left: 2px solid rgba(0, 0, 0, .1);
    margin-bottom: var(--spacing-s);
    padding-bottom: 0;
    padding-left: var(--spacing-m)
}

body.newsletter.issue img.email-signature {
    margin-bottom: var(--spacing-xl);
    max-width: 10rem
}

body.links {
    background-color: #edf4f5;
    text-align: center
}

body.links div.container {
    background-color: #edf4f5
}

body.links main {
    margin: 0 auto;
    max-width: 32rem
}

body.links h1 {
    margin: 0 auto
}

ul.link-list {
    margin-bottom: var(--spacing-s)
}

ul.link-list li {
    background-color: #fff;
    border: 1px solid #dfdede;
    border-radius: 10px;
    margin: var(--spacing-range-xs-s) 0;
    padding: var(--spacing-m) var(--spacing-m)
}

ul.link-list li.fine {
    border-color: #06e584
}

ul.link-list li img {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .075), 0 2px 2px rgba(0, 0, 0, .075), 0 4px 4px rgba(105, 89, 89, .075), 0 8px 8px rgba(0, 0, 0, .075), 0 16px 16px rgba(0, 0, 0, .075);
    margin: -1.875rem auto var(--spacing-m) auto;
    max-width: 6rem
}

ul.link-list li.upot img,
ul.link-list li.workshop img {
    margin-top: -3rem
}

ul.link-list li.fine img,
ul.link-list li.workshop img {
    box-shadow: none;
    margin-top: 0;
    max-width: 50rem
}

ul.link-list li em {
    color: #7f7f7f
}

ul.link-list li form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
    grid-gap: 0 0
}

ul.socials {
    margin: var(--spacing-xs) 0 0 0;
    padding: 0
}

ul.socials li {
    border: none;
    display: inline-block;
    margin: 0;
    padding: 0
}

ul.socials li a {
    padding: 0 var(--spacing-xs)
}

/*# sourceMappingURL=style.min.css.map */