{{ define "main" }}

{{- partial "breadcrumbs.html" . -}}

<article class="writing" id="top">
    <div class="article-head">
        <h1>{{ .Title }}</h1>
        <div class="article-metadata">
            {{- partial "article-metadata.html" . -}}
        </div>
    </div>

    <div>
    <details class="article-toc">
        <summary>Table of Contents</summary>
        {{ .TableOfContents }}
    </details>
    </div>

    <div class="article-body">
        {{ .Content }}
    </div>

</article>

{{- partial "blurb.html" . -}}

<a href="{{ .Permalink }}/#top" class="to-top">Back to top</a>

{{ end }}